<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p>
         Welcome {{user.username}} 
        </p> </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/item" routerLinkActive="active">Sell Item</a>
      </li>
      <li>
        <a routerLink="/view" routerLinkActive="active">View Items</a>
      </li>
      <li>
        <a routerLink="/search" routerLinkActive="active">Search</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li>
        <a routerLink="/logout" routerLinkActive="active">Logout</a>
      </li>


    </ul>
    

    
  </div>
</nav>
