<p>
  profile works!
</p><!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="assets/img.jpg" alt="John" style="width:100%">
  <h1>First Last</h1>
  <p class="title">Buyer/seller</p>
  <p>Username</p>
  <p>Address</p>
  <p>Balance</p>  
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Email</button></p>
</div>