<div *ngIf="1">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auction Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active"></a> </li>
      <li><a routerLink="/electronics" routerLinkActive="active">Electronics</a> </li>   
      <li><a routerLink="/furniture" routerLinkActive="active">Furniture</a> </li>   
      <li><a routerLink="/toys" routerLinkActive="active">Toys</a> </li>    
      <li><a routerLink="/apparel" routerLinkActive="active">Apparel</a> </li>
      <li><a routerLink="/antiques" routerLinkActive="active">Antiques</a> </li> 
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a> </li> 
      <li><a routerLink="/item" routerLinkActive="active">Sell Item</a> </li> 
      <li><a routerLink="/login" routerLinkActive="active">Login</a> </li> 
           
    </ul>
    <!--<span class="align-right"><a routerLink="/login" routerLinkActive="active" >Login</a></span> -->
  
    <!--Login toggle-->
    <section>
   
  </section>
  </div>
</nav>
</div>
<!--
<mat-chip-list>
  <mat-chip>Electronics</mat-chip>
  <mat-chip>Books</mat-chip>
  <mat-chip>Shoes</mat-chip>
</mat-chip-list>
-->

