mat-chip {
  max-width: 200px;
  background-color: aqua;
  /*
  text-decoration-color: aliceblue
  */
}
p {font-size:0; /* Fixes inline block spacing */  }
span { width:50%; display:inline-block; }
span.align-right { text-align:right; }

span a { font-size:16px; }

div.formb {
  position: absolute;
  right: 0;
  width: 200px;
  height: 120px;
 
} 