<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auction Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active"></a> </li>
      <li><a routerLink="/electronics" routerLinkActive="active">Electronics</a> </li>   
      <li><a routerLink="/furniture" routerLinkActive="active">Furniture</a> </li>   
      <li><a routerLink="/toys" routerLinkActive="active">Toys</a> </li>    
      <li><a routerLink="/apparel" routerLinkActive="active">Apparel</a> </li>
      <li><a routerLink="/antiques" routerLinkActive="active">Antiques</a> </li> 
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a> </li> 
           
    </ul>
    
    <span class="align-right"><a routerLink="/login" routerLinkActive="active" >Login</a></span> 
    <!--Login toggle-->
    <section>
    
    <div class="formb" *ngIf="btnText === btnTextShow">
        <br><br><br>
      <div class="form-group">
      <label>username</label>
      <input class="form-control">
      </div>
      <div class="form-group">
          <label>password</label>
          <input class="form-control">
          </div>
          <span class="align-right" ><a><button class="btn btn-primary"(click)="toggle()">{{btnText}}</button></a></span> 
       </div>
      
    </section>
    <span class="align-right"style="margin: 3px"><a><button class="btn btn-primary"(click)="toggle()" style="margin: 4px">{{btnText}}</button></a></span> 
    <!--Login toggle end-->
  </div>
</nav>
hi from navigation component
<mat-chip-list>
  <mat-chip>Electronics</mat-chip>
  <mat-chip>Books</mat-chip>
  <mat-chip>Shoes</mat-chip>
</mat-chip-list>

